

<form class="form-horizontal">
<h3> Arrgh, you look like someone who wants to translate some boring old English to 
	awesome Pirate. </h3>
  <div class="form-group">
    <label for="exampleInputName1" id="form-input">English to Pirate Translator</label>
    <input ng-model="pirateTalk" type="text" class="form-control" id="pirate" placeholder="Pirates dont use puncation you can skip it too">
  </div>
  
  <a ng-click="submit(pirateTalk)" role="button" class="btn btn-default pirateStyleButton" href="#/display">Translate to Pirate</a>
  
</form>
