
<html>
<head></head>
<body onload="generator()">
<script type="text/javascript">
function generator(){
			// Add your own words to the wordlist. Be carefull to obey the showed syntax
			
			var wordlist1 = ["Captain","Scurvy","Bloody","Peg Leg","One Eyed","Mad","Pale Eyed","Rotten",
							"Bluebearded","Black Hearted","Silver","Red","Flame Haired","Crooked","Rusty"];
			
			var wordlist2 = ["Hatchet","Mongrel","Sea Dog","Monkey","Robert","Molly","Starr", " ",
							"Ebony","Queen","Marcus","Hook","Flintlock","Bullet","Britches","Fancy", 
							"Lizzy","MacCormick","Cutlass","Davey"]

			var wordlist3 = ["McGee","the Scallywag","the Lame","The Mad","The Black","the Scourge","the Coward",
							"the Plague","Borden","the Reaper","the Knife",]
			
			// Random numbers are made 
			var randomNumber1 = parseInt(Math.random() * wordlist1.length);
			var randomNumber2 = parseInt(Math.random() * wordlist2.length);
			var randomNumber3 = parseInt(Math.random() * wordlist3.length);
			var name = wordlist1[randomNumber1] + " " + wordlist2[randomNumber2];	 + " " + wordlist3[randomNumber3]		
			
			//alert(name); //Remove first to slashes to alert the name
			
			//If there's already a name it is removed  
			if(document.getElementById("result")){
				document.getElementById("placeholder").removeChild(document.getElementById("result"));
			}
			// A div element is created to show the generated name. The Name is added as a textnode. Textnode is added to the placeholder.
			var element = document.createElement("div");
			element.setAttribute("id", "result");
			element.appendChild(document.createTextNode(name));
			document.getElementById("placeholder").appendChild(element);
		}
		</script>

<h2 class="shrunkenHead">Feeling a bit scurvey?</h2>
		<div id="generator">
			<div id="placeholder">
			</div>	
		</div>
		<div ID="ButtonIt">
			<input type="button" value="Make Me a Pirate!" onclick="generator()" / class="nameMe">
			</div>
		


<script src="../js/newName.js"></script>
</div>
</body>
</html>