
<!-- Partial to display the result of the translator -->
<!-- Possibly add some additional descriptor text above the result -->
<div id="translation-display">

	<h3> Woah, you speak pirate too? </h3>

	<div id="inner-translate-div">
		 <h4 ng-repeat="quotes in oldQuotes"> "{{quotes}}" </h4>

		<a class="btn btn-default" role="button" href="#/translate"> Translate Again </a>
		<a class="btn btn-default" role="button" href="#/"> Back to Home </a>
	</div>
	<!-- <h4 ng-repeat="quotes in oldQuotes"> "{{quotes}}" </h4> -->

</div>