
body{
	background: #999;
	margin:0;
	padding:0;
}

#insta-wrap {
	width: 1280px;
	height: 600px;
	margin: 35px auto 0 auto;
}

h1 {
	text-align: center;
	color: #FFF;
	
	text-transform: uppercase;
	letter-spacing: 1.5px;
	text-shadow: #666 2px 2px;
}

#instafeed img{
	opacity: 0.8;
	position: absolute;
	z-index: -99;
	min-width: 500px;
	max-width: 500px;
	left: 250px;
}

#frame{
	position: absolute;
}

button {
	position: absolute;
	top: 400px;
}